In [1]:
import pandas as pd
from datetime import date
from string import ascii_letters

In [5]:
data = pd.DataFrame(data={"text": ["bar_1234", "foo_1234", "stuff_43_323"]})

### Running string operations on string columns

In [6]:
data["text"].str.startswith("bar")

0     True
1    False
2    False
Name: text, dtype: bool

In [7]:
data["text"].str.split("_", expand=True)

       0     1     2
0    bar  1234  None
1    foo  1234  None
2  stuff    43   323

## pandas' string types

In [8]:
# default string type: object
data.dtypes

text    object
dtype: object

In [9]:
# alternative string type: StringDtype
pd.StringDtype

pandas.core.arrays.string_.StringDtype

In [12]:
data["text"].astype("string")

0        bar_1234
1        foo_1234
2    stuff_43_323
Name: text, dtype: string

In [13]:
data["text"].str.endswith("1234")

0     True
1     True
2    False
Name: text, dtype: bool