In [17]:
import numpy as np
import pandas as pd
from datetime import date, time, datetime

In [4]:
np.random.seed(seed=1234)

### 1. Floating point numbers

In [5]:
floats = np.random.randn(5)
floats

array([ 0.47143516, -1.19097569,  1.43270697, -0.3126519 , -0.72058873])

In [6]:
floats.dtype

dtype('float64')

In [7]:
floats_df = pd.DataFrame(data={"floats": floats})
floats_df

     floats
0  0.471435
1 -1.190976
2  1.432707
3 -0.312652
4 -0.720589

In [8]:
floats_df.dtypes

floats    float64
dtype: object

In [16]:
type(floats_df["floats"][0])

numpy.float64

### 2. Integers

In [11]:
ints = np.random.randint(1, 11, 5)
ints

array([10,  7,  3,  1,  6])

In [12]:
ints_df = pd.DataFrame(data={"ints": ints})
ints_df

   ints
0    10
1     7
2     3
3     1
4     6

In [13]:
ints_df.dtypes

ints    int64
dtype: object

In [15]:
type(ints_df["ints"][0])

numpy.int64

## 3. datetimes

Note: note that NumPy does not support timezone-aware datetimes

In [ ]:
d = date()
dt = datetime()